/* Basic styling for body */
body {
    background-color: #4B2F2C;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 40px;
}

/* Sidebar styling */
.sidebar {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 200px;
    color: white;
    z-index: 10;
    /* Ensures sidebar is always on top */
}

/* Sidebar titles styling */
.title h3 {
    cursor: pointer;
    padding: 5px 0;
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    background-color: transparent;
    border: none;
    color: white;
    /* Text color remains white */
    transition: text-decoration 0.3s ease;
}

.title h3:hover {
    text-decoration: underline;
    /* Underlines the text */
    color: white;
    /* Ensure the text color stays white */
}

/* Sidebar content styling */
.title div {
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: white;
    z-index: 1;
    /* Ensures content doesn’t interfere with sidebar */
}

/* Ensure content does not block interaction */
#videos-content iframe {
    pointer-events: auto;
    width: 250%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin-top: 10px;
    border-radius: 5px;
}

/* Hide content initially */
.hidden {
    display: none;
}

/* Styling for music icons */
.music-icon {
    display: inline-block;
    margin: 5px;
}

.music-icon img {
    width: 40px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.music-icon img:hover {
    transform: scale(1.1);
}

/* Centering all images except tub.jpg */
.image-container {
    text-align: center;
    margin: 0 auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Specific styling for large images */
.large-image img {
    max-height: 90vh;
    margin-bottom: 20px;
}

/* Full-width styling for tub.jpg */
.image-container.full-width img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

/* Centered email form */
.content {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -20px;
    width: 100%;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="email"] {
    padding: 10px;
    width: 90%;
    max-width: 600px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #ffb700d9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    margin-top: 10px;
}

button:hover {
    background-color: #000000;
}